<form class="form">
  <div class="form_control">
    <label for="text">Task</label>
    <input type="text" name="text" id="text"  placeholder="partake in sky-diving">
  </div>
  <div class="form_control">
    <label for="text">Day & Time</label>
    <input type="text" name="day" id="day" placeholder="Add day & Time">
  </div>
  <div class="form_control reminder">
    <label for="text">Set Reminder</label>
    <input type="checkbox" name="reminder" id="reminder">
  </div>
  <button class="submit_btn">save task</button>
</form>
